{{ $baseurl := .Site.BaseURL }}
<article class="recent-reading {{ .Type }}">
    <header class="recent-reading-header">
        <h6 class="recent-reading-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h6>
    </header>
    <section class="recent-reading-excerpt">
        <p>{{ .Summary }} <a class="read-more" href="{{.RelPermalink}}">&raquo;</a></p>
    </section>
    <footer class="recent-reading-meta">
        {{if .Params.tags}} re: 
            {{ range $index, $tag := .Params.tags }}
                <a href="{{$baseurl}}tags/{{ $tag | urlize }}/">#{{ $tag }}</a>&nbsp;
            {{ end }}
            <br />
        {{end}}
		{{if .Params.categories}}
			[&nbsp;{{ range $index, $category := .Params.categories }}<a href="{{$baseurl}}categories/{{ $category | urlize }}/">{{ $category }}</a>{{ end }}&nbsp;]
        {{end}}
		<br />
        <time class="recent-reading-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "2 Jan 2006 15:04:05Z07:00" }}
        </time>
    </footer>
</article>