{{ partial "header.html" . }}

{{if .Site.Params.cover}}
<header class="main-header " style="background-image: url({{.Site.BaseURL}}{{.Site.Params.cover}})">
{{else}}
<header class="main-header no-cover">
{{end}}
    
    <nav class="main-nav overlay clearfix">
        {{ if .Site.Params.logo }}
            <a class="blog-logo" href="{{.Site.BaseURL}}author-profile/about">(╯°□°）╯︵ ┻━┻</a>
        {{end}}
		<a class="subscribe-button icon-feed" href="{{ .RSSLink }}">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ .Site.Title }}</h1>
            <h2 class="page-description">{{ .Site.Params.description }}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
{{ if eq $paginator.PageNumber 1 }}
<div id="main_content">
	<div id="recent-reading_content">
		{{ partial "recent-reading.html" . }}
	</div>

	<div id="entries_content">
		<main id="content" class="content" role="main">

    		<div class="extra-pagination inner">
       			{{ partial "pagination.html" $paginator }}
    		</div>

    		{{ range $index, $page := $paginator.Pages }}
        		{{ .Render "li" }}
    		{{ end }}

    		{{ partial "pagination.html" $paginator }}

		</main>
	</div>
</div>
<div class="main_content_footer">
	{{ partial "footer.html" . }}
</div>
{{ else }}
<main id="content" class="content" role="main">

    <div class="extra-pagination inner">
       	{{ partial "pagination.html" $paginator }}
    </div>

	{{ range $index, $page := $paginator.Pages }}
        {{ .Render "li" }}
    {{ end }}

    {{ partial "pagination.html" $paginator }}

</main>
{{ partial "footer.html" . }}
{{ end }}